$themes: primary, secondary, tertiary, clear, warning, info, success, danger;
$sizes: xs, s, m, l, xl, 2xl;

.button {
  @each $theme in $themes {
    &--#{$theme} {
      background-color: var(--color-#{$theme});
      color: var(--color-on-#{$theme});
      border: none;
    }
  }

  @each $size in $sizes {
    &--#{$size} {
      padding: var(--spacing-#{$size}) var(--spacing-#{$size}-wide);
      font-size: var(--font-size-#{$size});
    }
  }
}
